* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: antiquewhite;
}
/* nav section css */
.nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding: 10px;
  border-bottom: 1px solid rgb(87, 0, 58);
  
}

.nav .nav_left .logo {
  height: 50px;
  width: auto;
}
.nav .nav_left .logo img {
  height: 100%;
  width: auto;
  padding: 10px;
}
.nav .nav_right .nav_items ul {
  display: flex;
}
.nav .nav_right .nav_items ul li {
  list-style: none;
  padding: 10px;
  margin-right: 20px;
}
.nav .nav_right .nav_items ul li a {
  text-decoration: none;
  color: rgb(60, 0, 156);
  font-family: "robot", sans-serif;
}
.nav .nav_right .nav_items ul li a:hover {
  font-weight: bold;
}
/* hero section css */
.hero {
  display: flex;
  padding: 20px;
}
.hero_left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.hero_left img {
  object-fit: contain;
  transition: transform 450ms;
  border: 3px solid rgba(48, 0, 70, 0.432);
  border-radius: 10px;
}
.hero_left img:hover {
  transform: scale(1.05);
}

.hero_right {
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
  font-family: "robot", sans-serif;
  border-left: 1px solid rgba(0, 0, 0, 0.24);
}
.title {
  font-size: 40px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.about {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 25px;
}
/* contact section  */
.contact_containerSection {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 20px;
  background-color: rgba(150, 139, 160, 0.486);
}
.contact_containerSectioncolor {
  display: flex;
  box-shadow: -4px 0px 20px 0px rgba(0, 11, 51, 0.3);
  -webkit-box-shadow: -4px 0px 20px 0px rgba(0, 11, 51, 0.3);
  -moz-box-shadow: -4px 0px 20px 0px rgba(0, 11, 51, 0.3);
  border-radius: 10px;
  padding-right: 30px;
}
.getintotouch {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;


}
.getintotouch .title {
  font-size: 40px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  padding: 20px;
}
.form-group {
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  background-color: transparent;
}
.form-control {
  border: 1px solid rgba(31, 0, 59, 0.397);
  outline: rgba(150, 139, 160, 0.486);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
}
form {
  background-color: transparent;
}
.contact_container{
    border-left: 1px solid rgba(0, 0, 0, 0.103);
    padding-left: 30px;
}
.contact_container .heading .title{
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    padding: 20px;
}
.maincontent{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}
.maincontent span{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 18px;
    line-height: 35px;
    color: #000;
}
p a{
    font-size: 18px;
    line-height: 35px;
    color: #000;
}
/* footer section */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: rgba(0, 0, 0, 0.616);

}
.btn{
    cursor: pointer;
}